<div class="card shadow mb-4">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#teacher" role="tab" aria-controls="home"
                aria-selected="true">GIÁO VIÊN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#staff" role="tab" aria-controls="profile"
                aria-selected="false">GIÁO VỤ</a>
        </li>
    </ul>
    <div class="card-body">
        <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="teacher" role="tabpanel" aria-labelledby="home-tab">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <td>STT</td>
                                <th>MÃ GIÁO VIÊN</th>
                                <th>TÊN GIÁO VIÊN</th>
                                <th>CMND</th>
                                <th>NGÀY SINH</th>
                                <th>GIỚI TÍNH</th>
                                <th>ĐỊA CHỈ</th>
                                <th>SĐT</th>
                                <th>MÃ BM</th>
                                <th>TRẠNG THÁI</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            {{#each listTeacherView}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{username}}</td>
                                <td>{{fullName}}</td>
                                <td>{{identityCard}}</td>
                                <td>{{dob}}</td>
                                {{#ifCond gender 1}}
                                <td>Nam</td>
                                {{else}}
                                <td>Nữ</td>
                                {{/ifCond}}
                                <td>{{address}}</td>
                                <td>{{phoneNumber}}</td>
                                <td>{{subjectID}}</td>
                                {{#ifCond status 1}}
                                <td>Hoạt động</td>
                                {{else}}
                                <td>Không hoạt động</td>
                                {{/ifCond}}
                                <td><i class="fa fa-pencil-square-o" data-toggle="modal" data-target="#{{dataTarget}}"
                                        aria-hidden="true"></i></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>


                    {{#each listTeacherView}}
                    <div class="modal fade" id="{{dataTarget}}" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <form class="modal-content" action="/admin/employee" method="POST">
                                <div class="modal-header text-center">
                                    <h4 class="modal-title w-100 font-weight-bold">Cập nhật thông tin</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body mx-3">
                                    <div class="md-form mb-2 form-inline">
                                        <label data-error="wrong" data-success="right" for="defaultForm-teacherID">Mã
                                            Giáo Viên</label>
                                        <input name="username" type="text" id="defaultForm-teacherID"
                                            class="form-control validate" value="{{username}}" readonly>
                                    </div>
                                    <div class="md-form mb-2 form-inline">
                                        <label data-error="wrong" data-success="right"
                                            for="defaultForm-teacherStatus">Trạng
                                            thái</label>
                                        <select name="status" class="form-control validate"
                                            id="defaultForm-teacherStatus">
                                            {{#ifCond status 1}}
                                            <option value="1" selected>Hoạt động</option>
                                            <option value="0">Ngừng hoạt động</option>
                                            {{else}}
                                            <option value="1">Hoạt động</option>
                                            <option value="0" selected>Ngừng hoạt động</option>
                                            {{/ifCond}}
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <button class="btn btn-danger" type="submit">Xác nhận</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="tab-pane fade" id="staff" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <td>STT</td>
                                <th>MÃ GIÁO VIÊN</th>
                                <th>TÊN GIÁO VIÊN</th>
                                <th>CMND</th>
                                <th>NGÀY SINH</th>
                                <th>GIỚI TÍNH</th>
                                <th>ĐỊA CHỈ</th>
                                <th>TRẠNG THÁI</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            {{#each listEmployeeView}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{username}}</td>
                                <td>{{fullName}}</td>
                                <td>{{identityCard}}</td>
                                <td>{{dob}}</td>
                                {{#ifCond gender 1}}
                                <td>Nam</td>
                                {{else}}
                                <td>Nữ</td>
                                {{/ifCond}}
                                {{#ifCond address Unknown}}
                                <td>{{address}}</td>
                                {{else}}
                                <td></td>
                                {{/ifCond}}
                                {{#ifCond status 1}}
                                <td>Hoạt động</td>
                                {{else}}
                                <td>Không hoạt động</td>
                                {{/ifCond}}
                                <td><i class="fa fa-pencil-square-o" data-toggle="modal" data-target="#{{dataTarget}}"
                                        aria-hidden="true"></i></td>

                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    {{#each listEmployeeView}}
                    <div class="modal fade" id="{{dataTarget}}" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <form class="modal-content" action="/admin/employee" method="POST">
                                <div class="modal-header text-center">
                                    <h4 class="modal-title w-100 font-weight-bold">Cập nhật thông tin</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body mx-3">
                                    <div class="md-form mb-2 form-inline">
                                        <label data-error="wrong" data-success="right" for="defaultForm-employeeID">Mã
                                            giáo vụ</label>
                                        <input type="text" name="username" id="defaultForm-employeeID"
                                            class="form-control validate" value="{{username}}">
                                    </div>
                                    <div class="md-form mb-2 form-inline">
                                        <label data-error="wrong" data-success="right"
                                            for="defaultForm-teacherStatus">Trạng
                                            thái</label>
                                        <select name="status" class="form-control validate"
                                            id="defaultForm-teacherStatus">
                                            {{#ifCond status 1}}
                                            <option value="1" selected>Hoạt động</option>
                                            <option value="0">Ngừng hoạt động</option>
                                            {{else}}
                                            <option value="1">Hoạt động</option>
                                            <option value="0" selected>Ngừng hoạt động</option>
                                            {{/ifCond}}
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <button class="btn btn-danger" type="submit">Xác nhận</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <a href="" class="btn btn-primary btn-rounded mb-4" data-toggle="modal" data-target="#modalAddUser">Thêm
        CB-CNV</a>
</div>
<div class="modal fade" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" action="/admin/employee/add" method="POST">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Thêm Giáo Viên</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-userName">Mã cán bộ</label>
                    <input name="username" type="text" id="defaultForm-userName" class="form-control validate">
                </div>
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-password">Mật khẩu</label>
                    <input name="password" type="text" id="defaultForm-password" class="form-control validate">
                </div>
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-identityCard">CMND</label>
                    <input name="identityCard" type="text" id="defaultForm-identityCard" class="form-control validate">
                </div>
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-userFullame">Họ Tên</label>
                    <input name="fullName" type="text" id="defaultForm-userFullname" class="form-control validate">
                </div>
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-userDoB">Ngày
                        sinh</label>
                    <input name="dob" type="text" id="defaultForm-userDoB" class="form-control validate"
                        placeholder="DD-MM-YYYY">
                </div>
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-userAddress">Địa
                        chỉ</label>
                    <input name="address" type="text" id="defaultForm-userAddress" class="form-control validate">
                </div>
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-phoneNumber">SĐT</label>
                    <input name="phoneNumber" type="text" id="defaultForm-phoneNumber" class="form-control validate">
                </div>
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-userGender">Giới tính</label>
                    <select name="gender" class="form-control validate" id="defaultForm-userGender">
                        <option value="1">Nam</option>
                        <option value="0">Nữ</option>
                    </select>
                </div>
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-userType">Loại
                        CB-CNV</label>
                    <select name="typeUser" class="form-control validate" id="defaultForm-userType">
                        <option value="2">Giáo Viên</option>
                        <option value="4">Giáo Vụ</option>
                    </select>
                </div>
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-subjectID">Bộ môn</label>
                    <select name="subjectID" class="form-control validate" id="defaultForm-subjectID">
                        <option value="">KHÔNG</option>
                        {{#each listSubjectView}}
                        <option value="{{subject}}">{{subjectName}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-danger" type="submit">Xác nhận</button>
            </div>
        </form>
    </div>
</div>