<div class="row">
    <form class="semester labelSemester ml-2 mb-2" action="/student/reExamination" method="GET">
        <span align="center">
            <span>Năm học:</span>
            <select class="semester" style="border: none; color:blanchedalmond" name="year"
                onchange="this.form.submit();">
                {{#each allYearSemester}}
                {{#if this}}
                <option value="{{this}}">{{this}}</option>
                {{/if}}
                {{/each}}
            </select>
        </span>
        <span align="center">
            <span>Học kì:</span>
            <select class="semester" style="border: none; color:blanchedalmond" name="semester"
                onchange="this.form.submit();">
                {{#if isLastSemester}}
                <option value="2">2</option>
                <option value="1">1</option>
                {{else}}
                <option value="1">1</option>
                <option value="2">2</option>
                {{/if}}
            </select>
        </span>
    </form>
</div>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="reExaminationTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>MÔN HỌC</th>
                        <th>NỘI DUNG</th>
                        <th>PHẢN HỒI</th>
                        <th>CHI TIẾT</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each listReExaminationView}}
                    <tr>
                        <td>{{subjectName}}</td>
                        <td>{{content}}</td>
                        {{#if response}}
                        <td>{{response}}</td>
                        {{else}}
                        <td>Giáo viên chưa phản hồi</td>
                        {{/if}}
                        <td style="width:100px"><i class="fa fa-pencil-square-o" data-toggle="modal"
                                data-target="#modalEditReExamination{{dataTarget}}" aria-hidden="true"></i></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <a href="" class="btn btn-primary btn-rounded mb-4" data-toggle="modal"
                data-target="#modalReExaminationForm">TẠO
                ĐƠN PHÚC KHẢO</a>
        </div>
        <hr>
    </div>
</div>

<div class="modal fade" id="modalReExaminationForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" action="/student/reExamination" method="POST">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Tạo đơn phúc khảo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-subjectName">Môn học</label>
                    <select name="subjectID" id="defaultForm-subjectName" class="form-control validate">
                        {{#each listSubjectView}}
                        <option value="{{subjectID}}">{{subjectName}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-note">Nội dung phúc khảo</label>
                    <textarea name="content" class="form-control" value=""></textarea>
                </div>
                <input type="hidden" name="studentID" id="studentID" value="{{user.username}}">
                <input type="hidden" name="classID" id="classID" value="{{user.classID}}">
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-danger">Xác nhận</button>
            </div>
        </form>
    </div>
</div>
{{#each listReExaminationView}}
<div class="modal fade" id="modalEditReExamination{{dataTarget}}" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Chi tiết</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-subjectName">Môn học</label>
                    <input type="text" class="form-control validate" name="subjectID" id="subjectID"
                        value="{{subjectID}}" readonly>
                </div>
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-note">Nội dung phúc khảo</label>
                    <textarea name="content" class="form-control" readonly>{{content}}</textarea>
                </div>
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-note">Phản hồi</label>
                    <textarea name="content" class="form-control" readonly>{{response}}</textarea>
                </div>

            </div>
        </div>
    </div>
</div>
{{/each}}