<div class="row">
    <form class="semester labelSemester ml-2 mb-2" action="/student/resulttable" method="GET">
        <span align="center">
            <span>Năm học:</span>
            <select class="semester" style="border: none; color:blanchedalmond" name="year"
                onchange="this.form.submit();">
                {{#each allYearSemester}}
                {{#if this}}
                <option value="{{this}}">{{this}}</option>
                {{/if}}
                {{/each}}
            </select>
        </span>
        <span align="center">
            <span>Học kì:</span>
            <select class="semester" style="border: none; color:blanchedalmond" name="semester"
                onchange="this.form.submit();">
                {{#if isLastSemester}}
                <option value="2">2</option>
                <option value="1">1</option>
                {{else}}
                <option value="1">1</option>
                <option value="2">2</option>
                {{/if}}
            </select>
        </span>
    </form>
</div>

<div class="card shadow mb-4">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#score" role="tab" aria-controls="home"
                aria-selected="true">BẢNG ĐIỂM</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#reexamination" role="tab" aria-controls="profile"
                aria-selected="false">PHÚC KHẢO</a>
        </li>
    </ul>
    <div class="card-body">
        <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="score" role="tabpanel" aria-labelledby="home-tab">
                <div class="table-responsive">
                    <table class="table table-bordered" id="resultTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>MÔN HỌC</th>
                                <th>15 PHÚT<sup>1</sup></th>
                                <th>15 PHÚT<sup>2</sup></th>
                                <th>1 TIẾT</th>
                                <th>THI CUỐI KÌ</th>
                                <th>TRUNG BÌNH</th>
                            </tr>
                        </thead>

                        <tbody>
                            {{#each listScoreView}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{subjectName}}</td>
                                <td>{{score1}}</td>
                                <td>{{score2}}</td>
                                <td>{{score3}}</td>
                                <td>{{score4}}</td>
                                <td>{{gpa}}</td>
                            </tr>

                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade" id="reexamination" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table table-bordered" id="reExaminationTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>MÔN HỌC</th>
                                <th>HỌC KÌ</th>
                                <th>NĂM HỌC</th>
                                <th>CỘT ĐIỂM</th>
                                <th>GHI CHÚ</th>
                                <th>TRẠNG THÁI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Toán</td>
                                <td>1</td>
                                <td>2019-2020</td>
                                <td>1 tiết</td>
                                <td>Em dò bài với bạn thấy đúng gần hết</td>
                                <td>GV đã phúc khảo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="text-center">
                    <a href="" class="btn btn-primary btn-rounded mb-4" data-toggle="modal"
                        data-target="#modalReExaminationForm">TẠO
                        ĐƠN PHUC KHẢO</a>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalReExaminationForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Tạo đơn phúc khảo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-subjectName">Môn học</label>
                    <select id="defaultForm-subjectName" class="form-control validate">
                        <option value="">Toán</option>
                        <option value="">Ngữ Văn</option>
                        <option value="">Tiếng Anh</option>
                    </select>
                </div>
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-note">Nội dung phúc khảo</label>
                    <textarea name="comment" class="form-control"></textarea>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-danger">Xác nhận</button>
            </div>
        </div>
    </div>
</div>