<div class="row">
    <form class="semester labelSemester ml-2 mb-2" action="/student/schedule" method="GET">
        <span align="center">
            <span>Năm học:</span>
            <select class="semester" style="border: none; color:blanchedalmond" name="year"
                onchange="this.form.submit();">
                {{#each allYearSemester}}
                {{#if this}}
                <option value="{{this}}">{{this}}</option>
                {{/if}}
                {{/each}}
            </select>
        </span>
        <span align="center">
            <span>Học kì:</span>
            <select class="semester" style="border: none; color:blanchedalmond" name="semester"
                onchange="this.form.submit();">
                {{#if isLastSemester}}
                <option value="2">2</option>
                <option value="1">1</option>
                {{else}}
                <option value="1">1</option>
                <option value="2">2</option>
                {{/if}}
            </select>
        </span>
    </form>
</div>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" style="width: 100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>TIẾT</th>
                        <th>THỨ 2</th>
                        <th>THỨ 3</th>
                        <th>THỨ 4</th>
                        <th>THỨ 5</th>
                        <th>THỨ 6</th>
                    </tr>
                </thead>
                {{#each listScheduleView}}
                <tbody>
                    <tr>
                        <td style="text-align:center; width: 50px;">{{id}}</td>
                        <td style="width: 20%">{{subject1}}</td>
                        <td style="width: 20%">{{subject2}}</td>
                        <td style="width: 20%">{{subject3}}</td>
                        <td style="width: 20%">{{subject4}}</td>
                        <td style="width: 20%">{{subject5}}</td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
    </div>
</div>