<div class="row">
    <div class="semester ml-2 mb-2">
        <p style="text-align:center; vertical-align:middle; line-height:2rem; color:black">Năm học: 2019-2020</p>
    </div>
    <form class="semester labelSemester ml-2 mb-2" action="" method="GET">
        <div align="center">
            <span>Học kì:</span>
            <select class="semester" style="border: none; color:blanchedalmond" name="semester" onchange="this.form.submit();">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
    </form>
</div>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" style="width: 100%; table-layout:fixed" cellspacing="0">
                <thead>
                    <tr>
                        <th>TIẾT</th>
                        <th>THỨ 2</th>
                        <th>THỨ 3</th>
                        <th>THỨ 4</th>
                        <th>THỨ 5</th>
                        <th>THỨ 6</th>
                    </tr>
                </thead>
                {{#each listScheduleView}}
                <tbody>
                    <tr>
                        <td>{{id}}</td>
                        <td>{{subject1}}</td>
                        <td>{{subject2}}</td>
                        <td>{{subject3}}</td>
                        <td>{{subject4}}</td>
                        <td>{{subject5}}</td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
    </div>
</div>