<div class="row">
    <div class="col-6">
        <div class="semester ml-2 mb-2">
            <a href="/staff/room-exam?year={{year}}&semester={{semesterID}}" class="labelSemester">Quay lại</a>
        </div>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <div class="semester ml-2 mb-2">
            <p class="labelSemester">Năm học: {{year}}</p>
        </div>
        <div class="semester ml-2 mb-2">
            <p class="labelSemester">Học kì: {{semesterID}}</p>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="text-align: center;">STT</th>
                        <th style="text-align: center;">MÃ HS</th>
                        <th style="text-align: center;">TÊN HỌC SINH</th>
                        <th style="text-align: center;">MÃ LỚP</th>
                        <th style="text-align: center;">LỚP</th>
                        <th style="text-align: center;">NGÀY SINH</th>
                        <th style="text-align: center;">GIỚI TÍNH</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each listStudent}}
                    <tr>
                        <td style="text-align: center;">{{count}}</td>
                        <td style="text-align: center;">{{studentID}}</td>
                        <td style="text-align: center;">{{studentFullName}}</td>
                        <td style="text-align: center;">{{classID}}</td>
                        <td style="text-align: center;">{{className}}</td>
                        <td style="text-align: center;">{{dob}}</td>
                        <td style="text-align: center;">{{gender}}</td>
                    </tr>
                    {{/each}}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>