<div class="row">
    <div class="col col-md-6">
        <form class="semester labelSemester" method="GET">
            <span align="center">
                <span>Năm học:</span>
                <select class="semester" style="border: none; color:blanchedalmond; cursor:pointer" name="year"
                    onchange="this.form.submit();">
                    {{#each allYearSemester}}
                    {{#if this}}
                    <option value="{{this}}">{{this}}</option>
                    {{/if}}
                    {{/each}}
                </select>
            </span>
            <span align="center">
                <span>Học kì:</span>
                <select class="semester" style="border: none; color:blanchedalmond; cursor: pointer" name="semester"
                    onchange="this.form.submit();">
                    {{#if isLastSemester}}
                    <option value="2">2</option>
                    <option value="1">1</option>
                    {{else}}
                    <option value="1">1</option>
                    <option value="2">2</option>
                    {{/if}}
                </select>
            </span>
        </form>
    </div>

    <div class="col-md-6" style="text-align:end">
        {{#if timeSurvey}}
        <div class="semester ml-2 mb-2">
            <a class="labelSemester fa"> Đợt: {{timeSurvey}}</a>
        </div>

        {{#if isDuringSurvey.condition}}
        <div class="semester ml-2 mb-2" style="background-color: green !important;">
            <a class="labelSemester fa"> Đang khảo sát</a>
        </div>
        {{else}}
        <div class="semester ml-2 mb-2" style="background-color: red !important;">
            <a class="labelSemester fa"> {{isDuringSurvey.msg}}</a>
        </div>
        {{/if}}

        {{else}}
        {{#if statusSemester}}
        <div class="semester ml-2 mb-2">
            <a class="labelSemester fa fa-pencil-square-o" style="cursor: pointer;" data-toggle="modal"
                data-target="#createSurvey" aria-hidden="true"> Tạo đợt KS</a>
        </div>
        {{/if}}

        {{/if}}
    </div>
</div>

{{#if timeSurvey}}
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 d-flex justify-content-end" style="text-align:end">
        <div class="semester ml-2 mb-2">
            <a class="labelSemester fa" style="cursor: pointer;" data-toggle="modal" data-target="#exportSurvey"
                aria-hidden="true"> Xuất số liệu</a>
        </div>
    </div>
</div>
{{/if}}

<div class="row">
    <div class="col-md-6">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tổng học sinh</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{sumStudent}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Số học sinh làm khảo sát
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{sumSurvey}}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<hr>

<div class="row">
    <div class="col d-flex-justify-content-center" style="text-align: center; color: black; font-size:2em; margin: 5px">
        THỐNG KÊ
    </div>
</div>
<div class="row">
    {{#each questionArray}}
    <div class="col-xl-6 col-lg-6 d-flex justify-content-center">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">{{this.questionID}}: {{this.content}}</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="{{this.id}}"></canvas>
                </div>
                <div class="mt-4 small" style="padding-left: 25%;">
                    <div class="mr-2">
                        <i class="fas fa-circle text-primary"></i>0-25% : {{this.quantity.type1}}
                        ({{this.percent.type1}}%)
                    </div>
                    <div class="mr-2">
                        <i class="fas fa-circle text-success"></i>25-50% : {{this.quantity.type2}}
                        ({{this.percent.type2}}%)
                    </div>
                    <div class="mr-2">
                        <i class="fas fa-circle text-info"></i>50-75% : {{this.quantity.type3}}
                        ({{this.percent.type3}}%)
                    </div>
                    <div class="mr-2">
                        <i class="fas fa-circle text-warning"></i>75-100% : {{this.quantity.type4}}
                        ({{this.percent.type4}}%)
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<hr>

<div class="modal fade" id="createSurvey" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" action="/staff/survey" method="POST">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Tạo đợt khảo sát</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-roomID">Học kỳ</label>
                    <input name="semesterID" type="text" id="defaultForm-roomID" class="form-control validate"
                        value="{{semesterID}}" readonly>
                </div>
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-subjectID">Năm học</label>
                    <input name="year" type="text" id="defaultForm-subjectID" class="form-control validate"
                        value="{{year}}" readonly>
                </div>
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-subjectID">Ngày bắt đầu</label>
                    <input name="dayStart" type="date" id="defaultForm-subjectID" class="form-control validate"
                        required>
                </div>
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-subjectID">Ngày kết thúc</label>
                    <input name="dayEnd" type="date" id="defaultForm-subjectID" class="form-control validate" require>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-danger">Xác nhận</button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="exportSurvey" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" action="/staff/survey/export" method="POST">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Xuất kết quả khảo sát</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-roomID">Học kỳ</label>
                    <input name="semesterID" type="text" id="defaultForm-roomID" class="form-control validate"
                        value="{{semesterID}}" readonly>
                </div>
                <div class="md-form mb-2 form-inline">
                    <label data-error="wrong" data-success="right" for="defaultForm-subjectID">Năm học</label>
                    <input name="year" type="text" id="defaultForm-subjectID" class="form-control validate"
                        value="{{year}}" readonly>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-danger">Xác nhận</button>
            </div>
        </form>
    </div>
</div>